$isdark: false;
$hover-amount: 10%;

// colors
$font-color: white;
$back-color: black;

$min-height: 50px;
$min-width: 150px;
$border-radius: 4px;
$input-color: rgba(255, 153, 0, 1);

$slider-thumb: tomato;
$slider-scrollable: green;
$slider-thumb-size: 20px;
$slider-scrollable-width: 5px;
$button: orange;

$checkbox-width: 40px;
$checkbox-scrollable-width: 10px;
$checkbox-color: lime;
$checkbox-unckecked: gray;

$dropdown-head: indigo;
$dropdown-item: darkorange;

body {
  background-color: $back-color;
}

* {
  outline: none;
  transition-duration: 0.2s;
  vertical-align: top;

  // color: white;
  // background-color: black;
}

%fill {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

%bubble1 {
  white-space: nowrap;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  color: $font-color;
  min-height: $min-height;
  min-width: $min-width;
  border-radius: $border-radius;
  margin: 5px;
  overflow: hidden;

  // display: inline-block;
}

%reset {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  @extend %bubble1;

  border-style: none;
  background-color: $button;
  cursor: pointer;

  &:hover {
    @if $isdark {
      background-color: darken($button, $hover-amount);
    }
    @else {
      background-color: lighten($button, $hover-amount);
    }
  }
}

.button-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: inherit;
}

.wave {
  overflow: hidden;
}

.wave-div {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: waveOut;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition-duration: 0s;
}

@keyframes waveIn {
  from {
    transform: scale(1);
    opacity: 0;
  }

  to {
    transform: scale(0);
    opacity: 0.5;
  }
}

@keyframes waveOut {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

.wave-div-input {
  @extend .wave-div;

  animation-duration: 0.5s;
}

@keyframes waveInputIn {
  from {
    // opacity: 0;
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes waveInputOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

.circle {
  min-width: $min-height;
  min-height: $min-height;
  border-radius: 50%;
}

.input-text {
  @extend %bubble1;

  display: inline-block;
}

%bool {
  user-select: none;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: $min-height;
  padding-right: $checkbox-width + 10px;

  > div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto 10px auto 10px;
    display: inline-block;
    background-color: chartreuse;
    width: $checkbox-width;
    height: $checkbox-scrollable-width;
    border-radius: $checkbox-scrollable-width;
    background-color: $checkbox-unckecked;

    > div {
      position: absolute;
      margin: auto;
      top: 0px;
      bottom: 0px;
      width: $slider-thumb-size;
      height: $slider-thumb-size;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      animation: unchecking 0.3s linear;
    }
  }

  input:checked ~ div {
    background-color: $checkbox-color;

    div {
      animation: checking 0.3s forwards linear;

      // transform: translateX($checkbox-width - $slider-thumb-size);
   
    }
  }
}

@keyframes checking {
  0% {
    transform: translateX(0) scale(1);
  }

  50% {
    transform: translateX(($checkbox-width - $slider-thumb-size) / 2) scale(0.5) scaleX(4);
  }

  100% {
    transform: translateX($checkbox-width - $slider-thumb-size) scale(1);
  }
}

@keyframes unchecking {
  0% {
    transform: translateX($checkbox-width - $slider-thumb-size) scale(1);
  }

  50% {
    transform: translateX(($checkbox-width - $slider-thumb-size) / 2) scale(0.5) scaleX(4);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

.checkbox {
  @extend %bubble1;

  @extend %bool;
}

.radio {
  @extend %bubble1;

  @extend %bool;
}

input {
  &[type='text'] {
    @extend %bubble1;

    border-style: solid;
    border-color: $input-color;
    border-width: 3px;
    background-color: transparent;
    margin: 0px;
    padding: 5px;
    z-index: 5;
  }

  &[type='range'] {
    @extend %reset;

    background-color: $slider-scrollable;
    height: 5px;
    margin: auto;
    margin: 10px;
    border-radius: $slider-scrollable-width / 2;

    &::-webkit-slider-thumb {
      @extend %reset;

      border-radius: 50%;
      background-color: $slider-thumb;
      cursor: pointer;
      width: $slider-thumb-size;
      height: $slider-thumb-size;
      transition-duration: 0.2s;
    }

    &::-webkit-slider-thumb:active {
      transform: scale(1.2);
      transition-duration: 0.2s;
    }
  }

  &[type='checkbox'] {
    @extend %reset;

    -moz-appearance: none;
  }

  &[type='radio'] {
    @extend %reset;

    -moz-appearance: none;
  }
}

.dropdown {
  @extend %bubble1;

  display: inline-table;
  width: fit-content;
  text-align: center;
  background-color: $dropdown-head;
  color: $font-color;
  line-height: $min-height;
  cursor: pointer;

  > ul {
    position: absolute;
    top: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    > li {
      @extend %bubble1;

      display: block;
      opacity: 0;
      z-index: 1;

      // animation-name: dropdown-li;
      animation-duration: 0.2s;
      animation-fill-mode: both;
      margin: 0px;

      // cursor: pointer;
      background-color: $dropdown-item;
      color: $font-color;
      border-radius: 0px;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &:hover {
        @if $isdark {
          background-color: darken($dropdown-item, $hover-amount);
        }
        @else {
          background-color: lighten($dropdown-item, $hover-amount);
        }
      }
    }
  }
}

@keyframes dropdown-li {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes dropdown-li-back {
  from {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: none;
  }

  to {
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
  }
}

.overlay-href {
  @extend %fill;
}
