* {
  font-size: large;
  font-family: 'Roboto Mono', monospace;
  transition-duration: 0.2s;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
  transition-duration: 0.2s;
}

.bubble-range {
  -webkit-appearance: none;
  appearance: none;
  background-color: cadetblue;
  height: 5px;
}

.bubble-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: coral;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.bubble-range::-webkit-slider-thumb:active {
  transform: scale(1.5);
}

.bubble-input {
/* border-radius:  */
}

.light {
  background-color: orange;
  color: black;
}

.dark {
  background-color: darkslategray;
  color: white;
}

.tr-light .tr-dark {
  background-color: transparent;
}

.tr-dark:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.bubble {
  outline: none;
  min-height: 50px;
  min-width: 50px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  transition-duration: 200ms;
}