body {
  background-color: black; }

* {
  outline: none;
  transition-duration: 0.2s;
  vertical-align: top; }

.overlay-href {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px; }

button, .input-text, .checkbox, .radio, input[type='text'], .dropdown, .dropdown > ul > li {
  white-space: nowrap;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  color: white;
  min-height: 50px;
  min-width: 150px;
  border-radius: 4px;
  margin: 5px;
  overflow: hidden; }

input[type='range'], input[type='range']::-webkit-slider-thumb, input[type='checkbox'], input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

button {
  border-style: none;
  background-color: orange;
  cursor: pointer; }
  button:hover {
    background-color: #ffb733; }

.button-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: inherit; }

.wave {
  overflow: hidden; }

.wave-div, .wave-div-input {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: waveOut;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition-duration: 0s;
  z-index: 50; }

@keyframes waveIn {
  from {
    transform: scale(1);
    opacity: 0; }
  to {
    transform: scale(0);
    opacity: 0.5; } }
@keyframes waveOut {
  from {
    transform: scale(0); }
  to {
    transform: scale(1);
    opacity: 0; } }
.wave-div-input {
  animation-duration: 0.5s; }

@keyframes waveInputIn {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@keyframes waveInputOut {
  from {
    transform: scale(1); }
  to {
    transform: scale(0);
    opacity: 0; } }
.circle {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%; }

.input-text {
  display: inline-block; }

.checkbox, .radio {
  user-select: none;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  padding-right: 50px; }
  .checkbox > div, .radio > div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto 10px auto 10px;
    display: inline-block;
    background-color: chartreuse;
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-color: gray; }
    .checkbox > div > div, .radio > div > div {
      position: absolute;
      margin: auto;
      top: 0px;
      bottom: 0px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      animation: unchecking 0.3s linear; }
  .checkbox input:checked ~ div, .radio input:checked ~ div {
    background-color: lime; }
    .checkbox input:checked ~ div div, .radio input:checked ~ div div {
      animation: checking 0.3s forwards linear; }

@keyframes checking {
  0% {
    transform: translateX(0) scale(1); }
  50% {
    transform: translateX(10px) scale(0.5) scaleX(4); }
  100% {
    transform: translateX(20px) scale(1); } }
@keyframes unchecking {
  0% {
    transform: translateX(20px) scale(1); }
  50% {
    transform: translateX(10px) scale(0.5) scaleX(4); }
  100% {
    transform: translateX(0) scale(1); } }
input[type='text'] {
  border-style: solid;
  border-color: #ff9900;
  border-width: 3px;
  background-color: transparent;
  margin: 0px;
  padding: 5px;
  z-index: 5; }
input[type='range'] {
  background-color: green;
  height: 5px;
  margin: auto;
  margin: 10px;
  border-radius: 2.5px; }
  input[type='range']::-webkit-slider-thumb {
    border-radius: 50%;
    background-color: tomato;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition-duration: 0.2s; }
  input[type='range']::-webkit-slider-thumb:active {
    transform: scale(1.2);
    transition-duration: 0.2s; }
input[type='checkbox'] {
  -moz-appearance: none; }
input[type='radio'] {
  -moz-appearance: none; }

.dropdown {
  display: inline-table;
  width: fit-content;
  text-align: center;
  background-color: indigo;
  color: white;
  line-height: 50px;
  cursor: pointer; }
  .dropdown > ul {
    position: absolute;
    top: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .dropdown > ul > li {
      display: block;
      opacity: 0;
      z-index: 1;
      animation-duration: 0.2s;
      animation-fill-mode: both;
      margin: 0px;
      background-color: darkorange;
      color: white;
      border-radius: 0px; }
      .dropdown > ul > li:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      .dropdown > ul > li:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
      .dropdown > ul > li:hover {
        background-color: #ffa333; }

@keyframes dropdown-li {
  from {
    transform: translateY(-20px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }
@keyframes dropdown-li-back {
  from {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: none; }
  to {
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none; } }

/*# sourceMappingURL=style.css.map */
